#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 0, 0, 0.2);
    margin: 16px;
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}

.gutter-box {
    padding: 8px 0;
    background: #00a0e9;
}
